<html>

<head>
	<title>
		<%= render :partial => "appname" %>
	</title>	
</head>

<body>

<div id="container">

	<%= render :partial => "menu" %>
	<%= render :partial => "header" %>
 	<%= render :partial => "tagline" %>
	<%= render :partial => "summary" %>
	<%= render :partial => "features" %>       

	<%= render :partial => "signup", :locals => { :signup_params => signup_params } %>
	<%= render :partial => "video" %>
	<%= render :partial => "invite" %>  
	<%= render :partial => "bullets" %>
	<%= render :partial => "slideshow" %>
	
	<%= render :partial => "pricing" %>  

	<%= render :partial => "footer" %>
</div>

</body>

</html>
