<div class="menu_section">
	<%= render :partial => "appname" %>
	<%= render :partial => "menu" %>
</div>

<div class="section">
	<%= render :partial => "header" %>
</div>

<div class="section">
 	<%= render :partial => "tagline" %>
</div>

<div class="section">
<%= render :partial => "summary" %>
<%= render :partial => "video", :locals => { :video_url => @video_url } %>
</div>

<div class="feature_section">
<%= render :partial => "features" %> 
</div>

<div class="section">
<%= render :partial => "signup" %>
</div>

<div class="section">
<%= render :partial => "tagline" %>
</div>

<div class="section">
<%= render :partial => "bullets" %>
</div>

<div class="section">
<%= render :partial => "slideshow" %>
</div>

<div class="section">

<%= render :partial => "pricing" %>  
</div>

<div class="section">
<%= render :partial => "invite" %>  
</div>

<div class="footer_section">
<%= render :partial => "footer" %>
</div>
