<html>

<head>
	<title><%= @application_name %></title>
</head>

<body>

<div id="container">
	<%= render :partial => "appname" %>
	<%= render :partial => "menu" %>
	<%= render :partial => "header" %>
 	<%= render :partial => "tagline" %>
	<%= render :partial => "summary" %>
	<%= render :partial => "features" %>       

	<%= render :partial => "signup" %>
	<%= render :partial => "tagline" %>
	<%= render :partial => "video", :locals => { :video_url => @video_url } %>
	<%= render :partial => "bullets" %>
	<%= render :partial => "slideshow" %>
	
	<%= render :partial => "pricing" %>  
	<%= render :partial => "invite" %>  

	<%= render :partial => "footer" %>
</div>

</body>

</html>