<% content_for(:title, "Welcome to #{@application_name}") %>

<div class="above shadow">
	<div class="menu_section shadow">
		<div class="centre-960">
			<%= render :partial => "appname" %>
			<%= render :partial => "menu" %>
			<div class="clear"></div>
		</div>
	</div>

	<div class="section topgap">
		<div class="centre-960">
			<%= render :partial => "tagline" %>
			<%= render :partial => "video", :locals => { :video_url => @video_url } %>
			<div class="clear"></div>

			<%= render :partial => "header" %>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="on-shadow">
	<div class="centre-960">
		<%= render :partial => "signup" %>
		<div class="clear"></div>
	</div>
</div>

<div class="section shadow">
	<div class="centre-960">
		<%= render :partial => "features" %> 
		<div class="clear"></div>
	</div>
</div>

<div class="section on-shadow">
	<div class="centre-960">
		<%= render :partial => "signup" %>
		<div class="clear"></div>
	</div>
</div>

<div class="section shadow">
	<div class="centre-960">
		<%= render :partial => "summary" %>
		<div class="clear"></div>
	</div>
</div>

<div class="section on-shadow">
	<div class="centre-960">
		<%= render :partial => "signup" %>
		<div class="clear"></div>
	</div>
</div>

<div class="section">
	<div class="centre-960">
		<%= render :partial => "slideshow" %>
		<div class="clear"></div>
	</div>
</div>

<div class="section">
	<div class="centre-960">
		<%= render :partial => "carousel" %>
		<div class="clear"></div>
	</div>
</div>

<div class="section">
	<div class="centre-960">
		<%= render :partial => "pricing" %>  
		<div class="clear"></div>
	</div>
</div>

<div class="section">
	<div class="centre-960">
		<%= render :partial => "invite" %>  
		<div class="clear"></div>
	</div>
</div>

<div class="footer_section">
	<div class="centre-960">
		<%= render :partial => "footer" %>
	</div>
</div>
<div class="clear"></div>
