<% content_for(:title, "Thanks for the interest in #{@application_name}") %>

<div class="menu_section">
	<%= render :partial => "appname" %>
	<%= render :partial => "menu" %>
</div>

<div class="section">
	<%= render :partial => "header" %>
</div>

<div class="section">
 	<%= render :partial => "tagline" %>
</div>

<div class="section">
	<%= render :partial => "pricing" %>  
</div>

<div class="section">
	<%= render :partial => "invite" %>  
</div>

<div class="footer_section">
	<%= render :partial => "footer" %>
</div>